<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.aboutTitle }}</h3>
            <div class="row about-details">
                <p class="lead text-justify">

We are excited to announce the 1 st RECOMB Satellite Conference on Foundational and Generative
Models for Biology and Health. As the recent Nobel Prize in Chemistry demonstrated, large pretrained
models are revolutionizing biology. While protein structure is likely the most mature area right now,
several such models are being developed spanning all levels of biology from genes and molecules to cells
to tissues and all the way to human phenotypes. These models cover text, images, video, speech and
have also been applied to gene expression and other dynamic properties.
<p></p>
While some of this work is relevant to existing conferences, including RECOMB and ISMB/ECCB, there are also
unique aspects to this area that necessitates a new conference solely focused on large-scale AI for
biology. First, detailed discussion of technical details and architectures that underlie such large-scale
models is often outside the scope of existing computational biology conferences but is critical to the
success of models for biomedical data. Technical discussions, including various computational
platforms, databases, representation and processing are also not always of interest to the more general
computational biology community but are definitely on the minds of those working in this area. And, of
course, any application or use case of such models in biology and medicine is of interest. Finally, and
importantly, integration of different models to obtain a better understanding of complete biological
systems are topics that can only be discussed in a dedicated conference.
<p></p>
While some leading ML conferences now include workshops focused on generative AI for Biology, these
are often very technical. The unique integration of biology and computer science which has long been
the tradition of the RECOMB conference series is the most appropriate venue to discuss the ground
breaking work in this area.
<p></p>
We look forward to seeing you in Boston!

</p>
                    
                <h4>Venue</h4>
                <p class="lead text-justify">
                 RECOMB-GenBio 2025 will be held in the Massachusetts Institute of Technology. Click <a href="https://recomb.org/recomb-genbio/venue">here</a> for detailed information.
                </p>    

        </div>
    </div>
</section>
<!-- End About Section -->
